{% extends 'mlgym1/base.html'%}
{% block content %}
<h2>Upload CSV File for training Neural Network model</h2>
<form action="{% url 'csv_upload_NN' %}" method="POST" enctype="multipart/form-data">
	{%csrf_token%}
	<label for="file1">X + Y - Features + Results	(Y in first column)</label>
	<input type = "file" id="file1" name = 'file1' required="True"/>
	<br>
	<label for="learning_rate">Learning Rate</label>
	<input type="number" name='learning_rate' id="learning_rate" placeholder="0.01" step="0.001" min="0.001" max="10" required="True">
	<br>
	<label for="mini_batch_size">Mini batch size</label>
	<input type="number" name='mini_batch_size' id="mini_batch_size" placeholder="10" step="5" min="5" max="50" required="True">
	<br>
	<label for="num_layers">Number of Layers</label>
	<input type="number" name='num_layers' id="num_layers" placeholder="3" step="1" min="2" max="10" required="True">
	<br>

	<label for="neurons">Neurons in each layer </label>
	<input type="text" name='neurons' id="neurons" placeholder="Separate with comma" required="True">
	<br>

	<label for="reg_constant">Regularisation Constant </label>
	<input type="number" name='reg_constant' id="reg_constant" placeholder="1" step="0.1" min="0" max="3" required="True">
	<br>
	<label for="max_iterations">Number of Iterations</label>
	<input type="number" name='max_iterations' id="max_iterations" placeholder="1000" step="100" min="1" max="100000" required="True">
	<br>
	<input type="submit" value="Upload"/>
</form>
<h2><small>Training might take a while</small></h2>
{% endblock %}