{% extends "mlgym1/base.html" %}

{% block content %}
   
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <h2 style="font-family: 'Courier New', Courier, monospace;">Enter Details Here</h2>
        {{user_form.as_p}}
        <input class="button" type="submit" value="Login" style="float:left; width:auto;"/>
        <br>
        <h3 style="font-family: 'Courier New', Courier, monospace;">Don't have an account? Sign up <a href="{%url 'register'%}">here</a></h3>
    </form>
{% endblock %}