{% extends 'mlgym1/base.html'%}
{% block content %}
{% if trained %}
	{% if not result_available %}
		{% load static %}
		<h2>Cost Plot</h2>
		<img src="{% static 'assets/linreg.png' %}" alt="My image">
		<h2>Upload CSV File for testing</h2>
		<form action="{% url 'test_upload_linreg' %}" method="POST" enctype="multipart/form-data">
			{%csrf_token%}
			<input type = "file" name = 'filename' required="True"/>
			<input type="submit" value="Upload" style="width:auto; float:left;"/>
		</form>
		<br>
		<h2><small>Ensure that it is in the same format as the training data and does not have a result column</small></h2>
	{% else %}
		{% load static %}
		<h2>Cost Plot:</h2>
		<img src="{% static 'assets/linreg.png' %}" alt="My image">
		<h2>Predictions:</h2> <br> 
		<div id="pred">
		<p >{% for ent in result_string %}{{ent}}<br>{% endfor %}</p>
		</div>
	{% endif %}
{% else %}
	<h2>Training data unavailable. You can train an algorithm <a href="{% url 'csv_upload_linreg' %}">here</a></h2>
{% endif %}
{% endblock %}